MySqlServerDriver = com.mysql.jdbc.Driver
MySqlServerUrl = jdbc:mysql://mysql.cis.ksu.edu/sswu
MySqlServerUser = sswu
MySqlServerPassword = xxxxxxx
PostgreSqlServerDriver = org.postgresql.Driver
PostgreSqlServerUrl = jdbc:postgresql://postgresql.cis.ksu.edu:5432/sswu
PostgreSqlServerUser = sswu
PostgreSqlServerPassword = xxxxxxxx
